# directories

musdb18/
TARGET/
out/
results/
__pycache__/
DATASET_16kHz/
musdb18_16kHz/
musdb18_ORG/
musdb18_ORG_separated/
DATASET_16kHz_2channels/
models/


# audio formats
*.mp4
*.wav

model formats
*.pth

# other
*.pyc